/* 
    Document   : lightbox_dashboard.css
    Created on : 10-jan-2012, 14:59:54
    Author     : Niels van Aken <vanaken@10uur.nl>
*/

body#lightbox_dashboard {
    margin: 1em;
}

div.container_success {
    margin: 15px;
}


div.container_success div.image_result img {
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}